# 環境構築用ファイル
.env
.env.local

# メモ用フォルダ
docs/

# Docker関連
postgres_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
